.auth {
  display: flex;
}

.auth__header {
  margin-bottom: 8px;
  font-family: var(--karloff);
}

.auth__subheader {
  margin-bottom: 48px;
  font-size: 16px;
  line-height: 19px;
}

.auth__wrapper__input {
  position: relative;
}

.auth__wrapper__input:not(:first-child) {
  margin-top: 21px;
}

.auth__button {
  margin-top: 20px;
}

.auth__button:hover {
  background-color: var(--color-main-hover);
}

.auth__forgot {
  padding: 0;
  justify-content: start;
  color: var(--color-main-blue);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  background-color: var(--color-main-bg);
}

.modal {
  left: 0;
  max-width: 320px;
  height: auto;
  padding: 20px;
  background-color: var(--color-main-bg);
  border-radius: 16px;
}

.auth__modal__text {
  overflow-y: hidden;
  font-size: 14px;
  line-height: 16px;

  @include media('<=mobile') {
    font-size: 20px;
    line-height: 24px;
  }
}