.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
};

.links {
  margin-top: 16px;
  margin-right: 20px;
  color: var(--color-main-dark-text);
}

.links:last-child {
  margin-right: 0;
}  